<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/administer.css">
    <title>CHECKMATE</title>
    <script src="https://kit.fontawesome.com/3f8f53c026.js" crossorigin="anonymous"></script>
</head>
<body class="addPage-body">

    <div class="addPage-header">
        <a class="addPage-header-first" href="/main">
            <img src="/img/checkmate.png" alt="#" width="60" height="60">
            <p>CHECKMATE</p>
        </a>

        <p class="addPage-header-title"><%= title %></p>
    </div>

    <div class="form-container">
        <form action="/main/add" method="POST">
            <div class="input-box">
                <label for="">이름</label>
                <input type="text" placeholder="이름" name="name" required>
              </div>

            <div class="input-box">
                <label for="">주민등록번호</label>
                <input type="text" placeholder="000000-0000000" name="rrn" required maxlength="14">
                <small id="rrn-error" style="color: red; display: none;">유효한 주민등록번호를 입력하세요. (000000-0000000)</small>
            </div>

            <div class="input-box">
                <label for="">기기토큰</label>
                <input type="text" placeholder="기기토큰" name="device_token" required>
            </div>

            <div class="input-box">
                <label for="">관계</label>
                <select>
                    <option value="student">학생</option>
                    <option value="parent">부모</option>
                </select>
            </div>

            <div>
                <input type="submit" value="추가" class="add-btn">
            </div>
        </form> 
    </div>

    <div class="plus-form">
        <form action="">
            <button class="back-btn">
                취소
            </button>
        </form>
    </div>

    <script src="/js/addFamily.js"></script> 
    <script>
        window.fid = "<%= fid %>";  
        console.log(window.fid);  
    </script>
    
    
</body>
</html>