.form-container {
    display: flex; 
    margin-top: 7em;
    width: 100%;
    gap: 20px; 
    justify-content: center; 
    align-items: flex-start; 
    overflow-x: auto; 
    box-sizing: border-box;
}

.form-container form {
    border: 1px sold black;
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
    border: 1px solid black; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    flex-shrink: 0;
}

.input-box input,
.input-box select {
    width: 280px; 
    padding: 10px; 
    border: 1px solid black; 
    border-radius: 5px; 
}

.input-box select {
    width: 303px; 
}

.form-btn {
    display: flex;
    justify-content: flex-end;
    
}

.btn2 {
    margin-left: 5px;
}

.btn1,
.btn2 {
    border: 1px solid black;
    color: white;
    background-color: #3B383E;
    width: 50px;
    height: 30px;
    border-radius: 20px;
}

.btn1:hover,
.btn2:hover {
    cursor: pointer;
}

.btn1:disabled,
.btn2:disabled {
    border: 1px solid grey;
    background-color: grey;
}


.plus-form {
    margin-top: 10em;
    display: flex;
    justify-content: flex-end;
}

.family-plus i {
    border: 1px sold black;
}

.family-plus,
.back-btn {
    border: 1px solid black;
    color: white;
    background-color: #3B383E;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}

.back-btn {
    margin-right: 3em;
}

.family-plus:hover,
.back-btn:hover {
    cursor: pointer;
}