.form-container {
    width: 90%;
    max-width: 600px;
    margin: 5em auto 2em auto;
    padding: 2em;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5); 
    border-radius: 12px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.input-box label {
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
}

.input-box input, .input-box select {
    padding: 0.8em;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
}

.input-box input:focus, .input-box select:focus {
    border-color: #3B383E;
}

.add-btn, .back-btn, .delete-btn {
    width: 100%;
    padding: 0.8em;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #3B383E; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 5px; 
}

.add-btn:hover {
    background-color: #2b2a2e; 
}

.back-btn {
    background-color: #ff4d4d;
}

.delete-btn {
    background-color: #ff4d4d;
}

.back-btn:hover {
    background-color: #cc0000;
}

.delete-btn:hover {
    background-color: #cc0000;
}

.back-btn {
    margin-bottom: 1.1em;
}

.plus-form {
    width: 90%;
    max-width: 600px;
    margin: 0.2em auto;
    text-align: center;
}