.addPage-header {
    width: inherit;
    height: 5em; 
    display: flex;
    background-color: #3B383E;
    align-items: center;
}

.addPage-header-first {
    display: flex;
    width: inherit;
    align-items: center;
    margin-left: 1em;
    cursor: pointer;
}

.addPage-header-first img {
    margin-right: 1em;
}

.addPage-header-first p {
    color: white;
    font-size: 1.6em;
}

.addPage-header-title {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



