.addPage-header {
    width: inherit;
    height: 5em; 
    display: flex;
    background-color: #3B383E;
    align-items: center;
}

.addPage-header-first {
    display: flex;
    align-items: center;
    margin-left: 1em;
    cursor: pointer;
}

.addPage-header-first img {
    margin-right: 1em;
}

.addPage-header-first p {
    color: white;
    font-size: 1.6em;
}

.addPage-header-second {
    display: flex;
    width: 100%;
    justify-content: center;
}

.addPage-header-title p {
    color: white;
    font-size: 1.6em;
}


