.date-picker {
    margin: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.date-picker label {
    font-size: 1.3em;
    display: inline-block; 
    width: 80px; 
    text-align: end;
}

.date-picker input {
    font-size: 1.1em; 
    padding: 10px 12px; 
    border: 1px solid rgba(114, 108, 108, 0.556);
    border-radius: 5px;
    width: 150px; 
}

.date-picker input:focus {
    border-color: #3B383E; 
    outline: none; 
}

.date-picker button {
    font-size: 1.1em;
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3B383E;
    color: white;
    cursor: pointer;
}

.calendar {
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px; 
    table-layout: fixed; 
}

.calendar th,
.calendar td {
    border: 1px solid #3B383E;
    text-align: center;
    padding: 15px; 
    font-size: 1.2em; 
}

.calendar .empty {
    background-color: #f9f9f9;
}

.calendar .date {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.5em; 
}

.attendance-status {
    font-weight: bold;
    padding: 5px;
}

.attendance-present {
    color: blue; 
}

.attendance-absent {
    color: red; 
}

.color-check {
    display: flex;
    justify-content: flex-end;
    gap: 1.2em;
}

.a {
    color: blue;
}

.b {
    color: red;
}