.family {
    width: 100%;
    margin-top: 7em;
    margin-bottom: 1.2em;
}

.family-attribute {
    margin: 0 1.5em 1.5em 1.5em;
    height: auto;
    border: 3px solid black;
    border-radius: 20px;
}

.family-attribute--header {
    margin: 1.1em 2em 1.1em 2em;
    display: flex;
    align-items: center;
    gap: 1.4em;
    margin-bottom: 1.1em;
}

.family-attribute--people {
    display:flex;
    margin: 0 2em;
    align-self: center;
    gap: 1.4em;
    margin-bottom: 1.1em;
}

i {
    cursor: pointer;
}

.hide {
    display: none;
}

