.family {
    width: 100%;
    margin-top: 7em;
    margin-bottom: 1.2em;
}

.family-attribute {
    margin: 0 1.5em 1.5em 1.5em;
    height: auto;
    border: 3px solid black;
    border-radius: 20px;
}

.family-attribute--header {
    margin: 1.1em 2em 0 2em;
    display: flex;
    align-items: center;
    gap: 1.4em;
    margin-bottom: 1.1em;
}

.student-name {
    margin-right: 0;
    font-weight: bold;
}

.family-attribute--headers {
    display: flex;
    gap: 1.3em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1.1em;
    font-size: 18px; 
    color: #4F4F4F; 
    font-weight: 500; 
    padding: 8px 10px; 
    align-items: center; 
    letter-spacing: 10px; 
    border-bottom: 2px solid #3B383E; 
    padding-bottom: 13px; 
    font-weight: 700;
}

.family-attribute--headers span {
    flex: 1; 
    text-align: center; 
}

.family-attribute--headers i {
    color: #3B383E; 
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.family-attribute--people {
    display: flex;
    gap: 1.3em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1.1em;
    font-size: 16px; 
    color: #4F4F4F; 
    font-weight: 500; 
    background-color: #F7F7F7; 
    border-radius: 8px; 
    padding: 8px 10px; 
    align-items: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.family-attribute--people span {
    flex: 1; 
    text-align: center; 
}

i {
    color: #3B383E; 
    width: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

i:not(.fa-magnifying-glass):not(.fa-circle-user):hover {
    color: black;
    transform: scale(1.2);
}

i:not(.fa-magnifying-glass):not(.fa-circle-user).active {
    transform: scale(1);
}



.hide {
    display: none !important;
}

.hide2 {
    visibility: hidden !important;
}

.attend {
    display: inline-block;
    padding: 8px 12px; 
    background-color: #3B383E; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    text-align: center; 
    cursor: pointer; 
    font-size: 14px; 
    font-weight: bold; 
}

.attend:hover {
    background-color: black; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.attend:active {
    background-color: black; 
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.hidden {
    visibility: hidden;
}